.container-form {
  margin-top: 56px;
}
.delay-label {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.input-delay {
  display: block;
  margin-top: 8px;
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  outline: transparent;
}
.fieldset-legend {
  margin-top: 16px;
  margin-bottom: 24px;
  height: 64px;
  width: 360px;
  border-radius: 4px;
  padding: 0;
}
.name-legend {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  margin-left: 28px;
}
.radio-input {
  margin-left: 48px;
  margin-bottom: 8px;
}
.btn-submit {
  width: 360px;
  height: 40px;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 8px;
  background-color: #4e75ff;
  color: #fff;
  border: none;
}

.btn-submit:hover {
  background-color: #6c8cff;
}
